body {
  font-family: verdana;
  background-color: #aac0aa;
}

label {
  display: block;
}

#nav {
  background-color: #d0dcd0;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
  border-radius: 15px 15px 0 0;
}

a {
  text-decoration: none;
}

#store_name {
  display: flex;
  margin-bottom: -0.5rem;
}

#store_name > img {
  width: 5rem;
  object-fit: contain;
}

h1 {
  font-size: 2.5rem;
  color: #d09462;
}

#nav_bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 950px) {
  #nav_bar {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .product_buttons > a .nonprod_button > a {
    flex: 100%;
  }
}

#nav_bar > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.2rem 0 1rem 0;
}

.product_buttons > a {
  margin: 0.5rem;
  background-color: #e6cb91;
  color: #729772;
  font-weight: bold;
  padding: 0.7rem;
  border-radius: 15px;
  border-style: solid;
  border-width: 0.3rem;
}

nav a:hover {
  color: #70ac87;
  transition: 0.3s;
}

.nonprod_button > a {
  margin: 0.5rem;
  background-color: #e6cb91;
  color: #dc9a84;
  font-weight: bold;
  padding: 0.7rem;
  border-radius: 15px;
  border-style: solid;
  border-width: 0.3rem;
}

.cart_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart_img {
  width: 3.5rem;
}

.cart_button > p {
  margin: 0;
  color: #729772;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

#cart_view {
  background-color: #df9768;
  color: #e8d19b;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100vh;
  padding: 1rem;
  display: flex;
}

#inner_cart_view {
  display: flex;
  flex-direction: column;
  background-color: #e2a378;
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 1rem;
}

#cart_text {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  letter-spacing: 0.7rem;
  margin-bottom: -1rem;
}

#cart_text > button {
  background-color: transparent;
  color: #e8d19b;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

#cart_text > button:hover {
  color: #f0e0bc;
  transition: 0.5s;
}

#behind_cart {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 998;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  max-height: 100vh;
}

.show_block {
  display: block;
  animation: fadeIn 1s;
}

.fade_out {
  opacity: 1;
  animation: fadeOut 1s;
}

.hide_block {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cart_products {
  height: calc(100vh - 10rem);
  overflow-y: scroll;
  margin-top: 1rem;
}

.ind_cart_prod {
  display: flex;
  flex-direction: column;
  border: #e8d19b;
  border-style: solid;
  border-radius: 25px;
  margin: 1rem;
}

.ind_cart_prod_info {
  display: flex;
  align-items: center;
  margin-bottom: -0.5rem;
}

.ind_cart_prod_functions {
  margin-bottom: 1rem;
}

.ind_cart_prod_functions > select {
  height: 1rem;
  background-color: #e8d19b;
  border: #915438 solid 2px;
  border-radius: 25px;
  text-align: center;
  width: 5rem;
  height: 1.2rem;
  margin-left: 1.5rem;
}

.ind_cart_prod_functions > select:focus-visible {
  background-color: #d09462;
  outline: none;
}

.ind_cart_prod_functions > button {
  margin-left: 0.5rem;
  background-color: #e8d19b;
  color: #915438;
  border-radius: 25px;
}

#checkout_cart {
  display: flex;
  justify-content: center;
}

#checkout_button > a {
  font-size: 1rem;
  font-weight: bold;
  background-color: #d0dcd0;
  color: #915438;
  border: #915438 solid 2px;
  border-radius: 10px;
  width: 100%;
  padding: 0.3rem 5rem 0.3rem 5rem;
  margin-top: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productCard {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin: 50px;
  width: 20rem;
  height: 20rem;
  background-color: #dc9a84;
  color: #5f3a1c;
  border-radius: 15px;
}

.product_image {
  height: 6rem;
  width: 6rem;
}

#components {
  background-color: #f0e0bc;
  padding: 1rem;
  margin: -1rem 1rem 1rem 1rem;
  border-radius: 0 0 15px 15px;
}

.featured {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured > img {
  width: 3rem;
}

.featured > h2 {
  text-align: center;
  color: #5f3a1c;
  margin: 0.5rem;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner_slide {
  background-color: #e8d19b;
  height: 18rem;
  width: 15rem;
  margin: 1rem;
  border-color: #dab476;
  border-style: solid;
  border-width: 0.3rem;
}

.single_product {
  display: flex;
  margin: 3%;
  padding: 3%;
  border: 4px solid #729772;
  border-radius: 15px;
}

.single_product_img {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.single_product_info {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #729772;
}

.single_product_info > h1 {
  color: #729772;
}

.single_product_actions > p {
  color: #729772;
}

.single_product_actions {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.single_product_action_buttons:hover {
  color: #70ac87;
  transition: 0.3s;
}

.single_product_action_buttons {
  background-color: #e6cb91;
  color: #729772;
  font-weight: bold;
  border: 2px solid #729772;
  border-width: 0.3rem;
  border-radius: 15px;
  margin: 1rem 1rem;
  text-align: center;
  width: 8rem;
  height: 3rem;
  transition-duration: 0.3s;
}

.single_product_quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_product_quantity > input {
  background-color: #e8d19b;
  border: 2px solid #729772;
  border-radius: 25px;
  text-align: center;
}

#hidden_added_cart {
  display: none;
}

#shown_added_cart {
  font-size: 0.95rem;
  font-style: italic;
  color: #729772;
  margin: -1rem;
}

#hidden_dupe_error {
  display: none;
}

#shown_dupe_error {
  font-size: 0.95rem;
  font-style: italic;
  color: #729772;
  margin: -1rem;
}

#hidden_added_wl {
  display: none;
}

#shown_added_wl {
  font-size: 0.95rem;
  font-style: italic;
  color: #729772;
}

.auth_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #70a3b3;
  border-radius: 15px;
  padding: 3rem;
  margin: 4rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.auth_button {
  background-color: #e6cb91;
  color: #70a3b3;
  border: 2px solid;
  border-radius: 15px;
  text-align: center;
  transition-duration: 0.3s;
}

.change_password_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #70a3b3;
  border-radius: 15px;
  padding: 3rem;
  margin: 4rem;
}

.change_password_button {
  background-color: #e6cb91;
  color: #70a3b3;
  border: 2px solid;
  border-radius: 15px;
  text-align: center;
  transition-duration: 0.3s;
}

.all_users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flip-card {
  background-color: transparent;
  width: 15rem;
  height: 15rem;
  perspective: 1000px;
  border-radius: 15px;
  margin: 2rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #dc9a84;
  color: #5f3a1c;
  border-radius: 15px;
}

.flip-card-front > img {
  margin: 1rem;
}

.flip-card-back {
  background-color: #dc9a84;
  color: #5f3a1c;
  border-radius: 15px;
  transform: rotateY(180deg);
}

.card-content {
  width: 90%;
  margin: auto;
}

.card-content > button {
  background-color: #e6cb91;
  border-radius: 15px;
  border-color: #5f3a1c;
  color: #5f3a1c;
  padding: 0.5rem;
}

.card-content > button.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #fff;
  opacity: 80%;
}

.all_products_actions {
  background-color: #d09462;
  color: #5f3a1c;
  font-weight: bold;
  border: 2px solid #5f3a1c;
  border-width: 0.3rem;
  border-radius: 15px;
  margin: 0.5rem 0.5rem;
  text-align: center;
  width: 7rem;
  height: 3rem;
  transition-duration: 0.3s;
}

.product_image {
  height: 75px;
  width: 75px;
}

.productsFromOrderHistory {
  border-width: 3px;
  border-style: solid;
  padding: 20px;
}

.product_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #70a3b3;
  border-radius: 15px;
  padding: 3rem;
  margin: 4rem;
}

.product-input-labels {
  padding: 1rem;
  color: #3586bb;
}

.product-inputs {
  border: 2px solid #70a3b3;
  border-radius: 15px;
  padding: 1rem;
  width: 25rem;
}

.submit-product-form {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 15px;
  border: 4px solid #70a3b3;
  color: #70a3b3;
}

textarea {
  height: 10rem;
}
